<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}" type='text/css'>
        <title>Scamazon Cart</title>
    </head>
    <body>
        <h1>Scamazon</h1>
        <h2><em>'We won't steal your information!'</em></h2>
        <h3>Items in your cart:</h3>
        <ul>
        {% for key, value in result.items() %}
            <li> {{ value }} </li>
        {% endfor %}
        </ul>
        <form action="http://localhost:5000/confirm">
            <button class='confirm'>Proceeed to Checkout</button>
        </form>
    </body>
</html>