<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}" type='text/css'>
        <title>Order Confirmed</title>
    </head>
    <body>
        <h1>Scamazon</h1>
        <h2>Order Confirmed</h2>
        <p>Thank you for <s>providing us with your information</s> your order! Your transaction has been processed, and we will email you with your order details.</p>
        <img src="{{ url_for('static', filename = 'assets/thankyou.png') }}" alt="Thank you" class='thank-you'>
    </body>
</html>