<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}" type='text/css'>
        <title>Scamazon Home</title>
    </head>
    <body>
        <h1>Scamazon Home</h1>
        <h2>Completely safe shopping!</h2>

        <form action="cart.html" method='POST'>
            <div class='shopping-grid'>
                <figure>
                    <img src="{{ url_for('static', filename = 'assets/books.png') }}" alt="books">
                    <figcaption>
                        <div id="ck-button">
                            <label>
                                <input type="checkbox" name='Books' value='Books'><span>Add to cart</span>
                            </label>
                        </div>
                    </figcaption>
                </figure>

                <figure>
                    <img src="{{ url_for('static', filename = 'assets/tv.png') }}" alt="tv">
                    <figcaption>
                        <div id="ck-button">
                            <label>
                                <input type="checkbox" name='TV' value='TV'><span>Add to cart</span>
                            </label>
                        </div>
                    </figcaption>
                </figure>

                <figure>
                    <img src="{{ url_for('static', filename = 'assets/phone.png') }}" alt="phone">
                    <figcaption>
                        <div id="ck-button">
                            <label>
                                <input type="checkbox" name='Phone' value='Phone'><span>Add to cart</span>
                            </label>
                        </div>
                    </figcaption>
                </figure>

                <figure>
                    <img src="{{ url_for('static', filename = 'assets/food.png') }}" alt='food'>
                    <figcaption>
                        <div id="ck-button">
                            <label>
                                <input type="checkbox" name='Food' value='Food'><span>Add to cart</span>
                            </label>
                        </div>
                    </figcaption>
                </figure>

                <figure>
                    <img src="{{ url_for('static', filename = 'assets/furniture.png') }}" alt="furniture">
                    <figcaption>
                        <div id="ck-button">
                            <label>
                                <input type="checkbox" name='Furniture' value='Furniture'><span>Add to cart</span>
                            </label>
                        </div>
                    </figcaption>
                </figure>

                <figure>
                    <img src="{{ url_for('static', filename = 'assets/clothing.jpeg') }}" alt="Clothing">
                    <figcaption>
                        <div id="ck-button">
                            <label>
                                <input type="checkbox" name='Clothing' value='Clothing'><span>Add to cart</span>
                            </label>
                        </div>
                    </figcaption>
                </figure>
            </div>

            <input type="submit" value='Checkout' class='submit'>
        </form>
    </body>
</html>